body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    transition: all 0.5s;
    text-decoration: none;
    color: #ffd17e;
}
.container img {
    width: 100%;
    transition: all 0.5s;

}

.bg-dark{
    background-color: #21243d !important;
}

#h1 {
    color:#fff;
    text-align: center;
    font-size: 60;
    display: block;
    margin-bottom: 35px;
    font-weight: 700;
}

#h2 {   
    color:#fff;
    text-align: center;
    font-size: 50;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 70px;
}

#h3{
    color:#fff;
    text-align: center;
    font-size: 60;
    font-weight: 700;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 70px;
}     

#h4{
    color:#fff;
        text-align: center;
        font-size: 50;
        display: block;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 70px;
}      
section {
    background: url(./bg\ 2.png);
    width: 100%;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin: 0px 15px 0px 15px;

}
header {
    width: 70%;
    margin: 0 auto;
}
header h1{
    margin: 0;
    font-size: 100;
    font-weight: 500;
    color:black;
}

.cards {
    position: relative;
    overflow: hidden;
    max-height: 600px;
    height: 100%;
    box-shadow: 0 2px 10 px #ccc;
    transition:  all 0.5s;
}
.cards:hover {
    box-shadow: 0 2px 10px #ccc;
    transition: all 0.5s;

}
.cards:hover img{
    transform: scale(1. 1);
    transition: all 0.4s ;
}
.blogcontent {
    position: absolute;
    left: 0;
    bottom: -45px;
    width: 100%;
    color:#111111;
    padding: 10px 5px;
    background: linear-gradient(
        45deg,#ffd17e 50%,
        rgba(255, 255, 255, 0.4) 100%
        );
        transition: all 0.5s;
}
.blogcontent h3{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.blogcontent h3 span{
    display: block;
    font-size: 60%;
    margin-top: 5px;
    font-weight: 600;
    color:#111111;
}
.cards:hover .blogcontent{
    bottom: 0;
    transition: all 0.5s;
}
.blogcontent a{
    font-size: 14px;
    font-weight: 500;
}
.blogcontent btn{
    display: block;
    padding: 5px 10px;
    border: 1px solid #fff;
    font-weight: 400;
    border-radius: 3px;
}
.blogcontent .btn:hover{
    background: rgba(52,152, 219,1);
    transition: all 05.s;
    text-decoration: underline;
}
@media (max-width: 992px) {
    main{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 767px) {
    main{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}

@media (max-width: 992px) {
    main{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    header{
        width: 95%;
    }
    .blogcontent{
        bottom: 0;
    }
}
@media (max-width: 500px) {
    main{
        grid-template-columns: repeat(1, 1fr);
      
    }
}

@media screen and (max-width: 880px) {

    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
}
.footer-distributed .footer-center i{
		margin-left: 0;
}
    .navbar{
        display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    
}

h1 {
    text-align: center;
    font-size: 90px;
    color: #222750;
    margin: 10px;
    text-shadow: 1px 1px 2px black;
}
footer{
    position: static;
    bottom: 0;
  }
  
  .footer-distributed{
    background-color: #111111;
    box-sizing: border-box;
    width: 100%;
    font: bold 16px;
    padding: 50px 50px 60px 50px;
  }
  
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
    margin: auto;
  }
  
  .footer-distributed .footer-links{
    color: #ffffff;
  }
  
  .footer-distributed .footer-links a{
    margin-top: 15px;
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: #ffffff;
  }
  
  .footer-distributed .footer-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: -10px;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #ffffff;
    color: #111111;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  #id{
    display: block;
    height: 20px;
    width: 20px;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
    margin: 0;
  }
   
  .title1{
    font-weight: 1500;
    font-size: 100px;
  }
  
  .footer-distributed .footer-center p a{
    color:  #ffffff;
    text-decoration: none;
    margin: 0;
  }
   
  .footer-distributed .footer-right{
    width: 20%;
  }
   
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #8f9296;
    font-size: 13px;
    margin: 0;
  }
   
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 22px;
    font-weight: bold;
  }
   
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #ffffff;
    border-radius: 2px;
   
    font-size: 20px;
    color: #111111;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }