*{
  font-family: 'Montserrat', sans-serif;
}

.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(banner.png);
  background-size: cover;
}

.banner .content{
  max-width: 900px;
  text-align: center;
}

.banner .content h2{
  font-weight: 1500;
  font-size: 100px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.banner .content p{
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

.button{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    color: #ffffff;
    background-color: #21243d;
    display: inline-block;
    padding: 15px 40px;
    margin-top: 20px;
    text-transform: uppercase;
    border-radius: 30px;
    color: #ffffff;
    text-decoration: none;
}

.button:hover{
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
  color: #90929e;
  background-color: #21243d;
  display: inline-block;
  padding: 15px 40px;
  margin-top: 20px;
  text-transform: uppercase;
  border-radius: 30px;
  color: #90929e;
  text-decoration: none;
}
    
  
  .title1{
    display: block;
    margin-top: 40px;
    font-weight: 700;
  }
  
  .bg-dark{
    background-color: #21243d !important;
  }
  
  footer{
    position: static;
    bottom: 0;
  }
  
  .footer-distributed{
    background-color: #111111;
    box-sizing: border-box;
    width: 100%;
    font: bold 16px;
    padding: 50px 50px 60px 50px;
  }
  
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
    margin: auto;
  }
  
  .footer-distributed .footer-links{
    color: #ffffff;
  }
  
  .footer-distributed .footer-links a{
    margin-top: 15px;
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: #ffffff;
  }
  
  .footer-distributed .footer-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: -10px;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #ffffff;
    color: #111111;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
    margin: 0;
  }
  
  .footer-distributed .footer-center p a{
    color:  #ffffff;
    text-decoration: none;
    margin: 0;
  }
   
  .footer-distributed .footer-right{
    width: 20%;
  }
   
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #8f9296;
    font-size: 13px;
    margin: 0;
  }
   
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 22px;
    font-weight: bold;
  }
   
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #ffffff;
    border-radius: 2px;
   
    font-size: 20px;
    color: #111111;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
    
  @media screen and (max-width: 880px) {

    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i{
        margin-left: 0;
    }
    .navbar{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    
    }